# Puerto del servidor
PORT=10000

# Entorno de ejecución
NODE_ENV=production

# Directorio de persistencia de datos (Opcional, por defecto ./data)
# DATA_DIR=/var/data

# URL de Base de Datos PostgreSQL (Neon Serverless PostgreSQL o Render Postgres)
DATABASE_URL=postgresql://neondb_owner:npg_U9nEsomKA4YW@ep-green-credit-b18kj1ct-pooler.c-5.eu-central-1.aws.neon.tech/neondb?sslmode=require
